# H1 Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [1]:
print("Enter email id in the format of x@y.com :") # User Input
x = input().split("@") # Splitting at @
z=str(x[1]).rsplit(".com") # Taking input as string and splitting .com
print("Company Name is :",z[0]) #Printing Result

Enter email id in the format of x@y.com :
alpha@gamma.com
Company Name is : gamma

# H1 Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [2]:
items=[x for x in input("Enter comma seperated data to sort").split(',')] # User Input for Data
items.sort() #Data Sorting
print ("Sorted data are ",' '.join(items)) # Use join keyword to print with comma sepearation

Enter comma seperated data to sort1,3,6,4
Sorted data are  1 3 4 6

# H1 Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
thisset = {"apple", "banana", "cherry","apple"}
# print(thisset)
#for x in thisset:
  #print(x)
#print("banana" in thisset)
#thisset.add("orange")
thisset.update(["orange", "mango", "grapes"])
print(thisset)
print(len(thisset))
thisset.remove("banana")
print(thisset)
print(len(thisset))

{'banana', 'apple', 'mango', 'cherry', 'orange', 'grapes'}
6
{'apple', 'mango', 'cherry', 'orange', 'grapes'}
5

In [4]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}
{1, 2, 3, 'a', 'c', 'b'}

In [5]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

# H1 Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [6]:
import numpy as np # Import Numpy to Convert to Array
from functools import reduce # Importing Reduce Function

LiN = [1, 2, 4, 6, 3, 7, 8] #Input List
n = len(LiN) #Lenght of the List
total = int((n + 1) * (n + 2) / 2) # Total of n values
a = np.array(LiN) # Converting to Array
c=reduce( lambda x,y: x+y, a) #Using reduce to get the sum of n-1 values
Numb = total - c #Identifying missing number as difference
print("The missing number is :",Numb) # printing output

The missing number is : 5

# H1 Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [7]:
print("Whats your list enter it comma seperated") # User Prompt for entry
mylist = list(input().split(",")) # Storing in List removing Comma
mylist = list(dict.fromkeys(mylist)) # Storing the list as dictionary as dictionary cannot have duplicate values
print("Deduplicated sorted list is :",mylist) #Printing Output

Whats your list enter it comma seperated
ab,df,vg,ab,bh
Deduplicated sorted list is : ['ab', 'df', 'vg', 'bh']